{% extends "base.html" %} {% load static %}
<title>Home Page Template</title>

{% block base_head %}
<link rel="stylesheet" href='{% static "css/main.css" %}' />

{% endblock base_head %} {% block content %}
<!-- Aqui vai tudo que é referente a home_page  -->
<div class="text-center">
  <h1>{{title}}</h1>
  <h2>{{content}}{{emojiStar}}</h2>
  <div class="row">
    <div class="col">
      <img src="{% static 'img/capa.png' %}" class="img-fluid" />
      <p>{{ content }}{{emojiStar}}</p>
    </div>
  </div>
  <h2>
    <marquee>
      <h1>S H E B A N G LOT OF S T Y L E</h1>
    </marquee>
  </h2>
</div>
<div class="container-lg">
  {% if request.user.is_authenticated%}
  <div class="row">
    <div class="col">
      <h1>You're premium 🏆</h1>
      <p>{{premium_content}}{{emojiStar}}</p>
    </div>
  </div>
  {%endif%}
</div>
{% endblock %}
